.contenedor-imagen-noticias {
	width: 800px;
	height: 450px;
    max-width: 100%;
    max-width: auto;
    margin: 0 auto;
    text-align: center;
}

.imagen-noticia {
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}


@media only screen and (max-width: 500px) {
    .contenedor-noticia {
        width: 100% !important;
        margin: 0 auto !important;
        text-align: center
    }
}