@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
    margin: 0;
    width: 100%;
  }

.navig {
    font-weight: 700;
    transition: 1s;
}

.efege-logo {
    width: 75px;
    transform: scale(1.2);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    top: .2rem;
    left: 2.9rem;
}

.sticky-wrapper {
    position: relative;
    height: 4rem; /* We need to change this value */
    z-index: 2;
    transition: 1s;
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 1s;
  }

  .nav-link {
    transition: 1s;
  }

  .nav-link-noticia {
    background: #D6D87B;
    border-radius: 6px;
    position: relative;
    bottom: .8rem;
    left: 4rem;
  }

  .nav-link-noticia:hover {
    color: #ffffff !important;
  }

  .smaller {
    height: 5.8rem;
    transition: 1s;
  }

  .smaller .efege-logo {
    width: 60px;
    transition: 1s;
  }

  .smaller .noticias-link {
    transform: scale(0.8);
    transition: 1s;
  }

  .smaller .nav-link {
    transform: scale(0.8);
    transition: 1s;
  }

  .nav-link-noticia-home:hover {
    color: #ffffff !important;
  }

  .transition-on {
    transition: 1s;
  }