img {
    width: 100%;
    transform: scale(0.55);
}

.noti-pic {
    transform: scale(0.9);
}

a {
    text-decoration: none !important;
}

iframe {
    margin: 0 auto !important;
    display: block;
    width: 100%;
}